{% extends "BaseBundle::layout/layout.html.twig" %}

{% block content %}
{% block title %}Catégories du forum{% endblock %}

{% block body %}
<h1>Bienvenue sur notre forum!</h1>
<table>
    <thead>
        <tr>
            <th>Catégorie</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td><a href={{ path('view_subcategories', {'slug': category.slug}) }}>{{ category.categoryName }}</a></td>
            <td>{{ category.description}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% endblock content %}
