{% extends "::base.html.twig" %}

{% block title %}ForumBundle:MessageController:createMessage{% endblock %}

{% block body %}
<h1>Welcome to the MessageController:createMessage page</h1>
{% endblock %}
