{% extends "::base.html.twig" %}

{% block title %}ForumBundle:MessageController:deleteMessage{% endblock %}

{% block body %}
<h1>Welcome to the MessageController:deleteMessage page</h1>
{% endblock %}
