{% extends "::base.html.twig" %}

{% block title %}ForumBundle:MessageController:updateMessage{% endblock %}

{% block body %}
<h1>Welcome to the MessageController:updateMessage page</h1>
{% endblock %}
