{% extends "::base.html.twig" %}

{% block title %}ForumBundle:MessageController:viewMessages{% endblock %}

{% block body %}
<h1>Welcome to the MessageController:viewMessages page</h1>
{% endblock %}
