{% extends "BaseBundle::layout/layout.html.twig" %}

{% block content %}
{% block title %}Sous-catégories du forum{% endblock %}

{% block body %}
<h1>Bienvenue sur notre forum!</h1>
<table>
    <thead>
        <tr>
            <th>Sous-catégorie</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for subcategory in subcategories %}
        <tr>
            <td><a href="{{ path('view_topics', {'id' : subcategory.category,'subCatId': subcategory.id}) }}">{{ subcategory.subCategoryName }}</a></td> 
            <td>{{ subcategory.description}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% endblock content %}